body {
  font-family: "Karla", "Source Sans Pro", sans-serif;
  color: #463b52;
  /*background-color: #e08572;
  background-image: linear-gradient(
    0deg,
    #423952 0%,
    #e08572 50%,
    #eabbbc 100%
  );
*/
  margin: auto;
  letter-spacing: 1;
  overflow-x: hidden;
}

.container {
  padding-left: 5px;
}
.material-icons {
  margin-right: 10px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: xx-large;
  font-weight: 700;
}
.profile_pic {
  height: 250px;
  margin-top: 70%;
  border-radius: 50%;
  border: 20px solid #cf66b22b;
}
.links {
  padding-top: 30px;
}

.links > a {
  margin: 0px 45px;
  color: #423952;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.contact_link {
  margin-right: auto;
}

.sections {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutme > p,
.skills > p {
  margin-top: 10%;
  text-align: center;
}
.aboutme {
  height: 700px;
  display: flex;
  justify-content: center;
  word-wrap: normal;
}
.basic_details {
  margin-top: 11%;
  margin-right: 12%;
}
h3 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
}
.skills {
  display: flex;
  justify-content: center;
  height: 700px;
}

.dev_pic {
  margin-top: 11%;
  margin-right: 230px;
}
.projects {
  height: 700px;
}

.all_skills {
  margin-top: 11%;
  font-weight: 600;
}
.all_skills > span {
  margin-top: 11%;
  border: 1px solid grey;
  margin-right: 15px;
  padding: 6px;
  border-radius: 7%;
}
.sections > div {
  border-bottom: #423952 1px dashed;
}
